<!-- buttons_radiobutton.html -->
<div class="shrink-container" style="border: 1px solid red;">
  <button
    v-for="(button, index) in buttons"
    :key="index"
    :class="[
      mergedClasses[index],
      { 'selected': selectedIndex === index }
    ]"
    :style="{ backgroundColor: button.color }"
    @click="selectButton(index)"
  >
    <span v-if="button.icon && button.side=='left'" class="button-icon">
      {{ button.icon }} &nbsp;
    </span>
    <span>
      {{ button.label }}
    </span>
    <span v-if="button.icon && button.side=='right'" class="button-icon">
       &nbsp; {{ button.icon }}
    </span>
  </button>
</div>