<!-- App.html -->
<div class="container-fluid">
  <div class="form-group">
    <TextBox
      v-model="inputValue"
      @change="handleTextBoxChange"
      :class_textbox="{ 'custom-class-textbox': true }"
      :merge-classes="true"
      :show-clear-icon="true"
    />
    <!--
      :class_textbox="{ 'custom-class-textbox': true, 'another-class': true }"
      :style_textbox="{ color: 'navy', fontSize: '10px' }"
    -->
    <div>{{ inputValue }}</div>
  </div>

  <div class="form-group">
    <TextBox
      v-model="inputValue2"
      @change="handleTextBoxChange"
      :class_textbox="{ 'custom-class-textbox': true }"
      :merge-classes="true"
      :placeholder="'Secondary input text'"
      :show-clear-icon="true"
    />
    <!--
      :class_textbox="{ 'custom-class-textbox': true, 'another-class': true }"
      :style_textbox="{ color: 'navy', fontSize: '10px' }"
    -->
    <div>{{ inputValue2 }}</div>
  </div>

  <div class="custom-autocomplete-local">
    <AutoCompleteTextBox
      v-model="inputAutocomplete"
      :class_textbox="{'custom-autocomplete': true}"
      :merge-classes="true"
      :placeholder="'Text+Select'"
      :show-clear-icon="true"
      :suggestions="italianWords"
      @select="onSelect"
    />
    <!--
      apiUrl="https://api.example.com/autocomplete"
      :apiParams="{ lang: 'it' }"
    -->
    <div>Current Value: {{ inputAutocomplete }}</div>
  </div>

  <div class="custom-selectoption-local">
    <SelectOptions
      placeholder="Scegli un frutto"
      v-model="selectedItem"
      :class_textbox="{ 'custom-select': true }"
      :merge-classes="true"
      :options="myOptions"
      :show-clear-icon="true"
      :style_textbox="{ width: '100%' }"
      @update:modelValue="onSelect"
    />
    <!--
      apiUrl="https://api.example.com/options"
      :apiParams="{ lang: 'it' }"
    -->
  </div>
  <p>{{ selectedItem }}</p>

  <div>
    <ButtonsRadiobutton
      v-model="selectedButtonRadioButton"
      :buttons="buttonOptions"
      base-class="radio-button"
      :button-classes="buttonCustomClasses"
      :merge-classes="true"
    />
  </div>
  <p>Selected Value ButtonsRadioButton: {{ selectedButtonRadioButton }}</p>
  <!--      base-class="buttons-radiobutton-base-class" -->

  <div>
    <ButtonsCheckbox
      v-model="selectedButtonsCheckboxes"
      :buttons="buttonOptions"
      base-class="checkbox-button"
      :button-classes="buttonCustomClasses"
      :merge-classes="true"
    />
    <br />
    <p>Selected Values ButtonsCheckboxes: {{ selectedButtonsCheckboxes }}</p>
  </div>
  <!--      base-class="buttons-checkbutton-base-class" -->

  <div>
    <RadioButtons
      v-model="selectedRadioButton"
      :options="[
        { label: 'Yes', value: 'yes' },
        { label: 'No', value: 'no' },
        { label: 'Maybe', value: 'maybe' }
      ]"
      :input-classes="['radioCustomClasses']"
      :merge-classes="true"
    />
  </div>
  <br />
  <p>Selected Value RadioButton: {{ selectedRadioButton }}</p>
  <!--      base-class="buttons-checkbutton-base-class" -->
  <div>
    <CheckBoxes
      base-class="checkbox-button"
      v-if="checkboxesOptions && checkboxesOptions.length > 0"
      v-model="selectedCheckBoxes"
      :input-classes="checkboxCustomClasses"
      :merge-classes="true"
      :options="checkboxesOptions"
    />
  </div>
  <p>Selected Values CheckBoxes: {{ selectedCheckBoxes }}</p>
  <!--      base-class="buttons-checkbutton-base-class" -->

  <div>
    <StateButton v-model="toggleState" />
    <p>Current value: {{ toggleState }}</p>
  </div>

  <div>
    <ThreeStateButton
      base-class="default-thumb"
      v-model="selected3State"
      :merge-classes="true"
      :labels="['No', 'Maybe', 'Yes']"
      :options="['no', 'maybe', 'yes']"
    />
    <div>
      <p>Current value: {{ selected3State }}</p>
    </div>
  </div>

  <div style="border:1px solid blue;">
    <DynamicTable
         base-class="default-thumb"
         :headers=headers
         :sortable-columns="[0, 1]"
         :tablerows="tablerows"
       />
  </div>

</div>
