<div class="container-float">
  <div v-if="sortable" class="list-header">
    <button v-if="sortable" class="btn btn-outline-warning btn-sm " @click="toggleSort">Sort</button>
    Sort by {{ sortKey }} {{ getSortIcon() }}
  </div>
  <ul :class="listClass"> <!-- 👈 Applies to <ul> -->
    <li v-if="!mappedRows.length" class="no-data">No data found</li>
    <li
      v-for="(row, index) in sortedRows"
      :key="index"
      :class="rowClass(index)"
    >
      {{ formatRow(row) }}
    </li>
  </ul>
</div>
