<!-- table.html -->
<div class="container-float">
  <table>
    <thead>
      <tr>
        <th
          v-for="(header, index) in headers"
          :class="[headers_class, 'table-header']"
          :key="index"
          @click="toggleSort(index)">
          {{ header.label }}
          <span v-if="header.sortable">{{ getSortIcon(index) }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(row, rowIndex) in sortedRows" :key="rowIndex">
        <td v-for="(col, colIndex) in row" :key="colIndex">
          {{ col.value }}
        </td>
      </tr>
      <tr v-if="Array.isArray(sortedRows) && !sortedRows.length">
        <td :colspan="headers.length">No data found</td>
      </tr>
    </tbody>
  </table>
</div>
