<!-- table.html -->
<div class="container-float">
  <table>
    <thead>
      <tr>
        <th
          v-for="(header, index) in headers"
          :key="index"
          :class="[headers_class, 'table-header', { sortable: header.sortable }]"
          :style="{ minWidth: columnWidths[index] || 'auto' }"
          @click="toggleSort(index)"
        >
          {{ header.label }}
          <span v-if="header.sortable" class="sort-icon">
            <span v-if="isTextIcon(getSortIcon(index))">{{ getSortIcon(index) }}</span>
            <font-awesome-icon v-else :icon="getSortIcon(index)" />
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="!sortedRows.length">
        <td :colspan="headers.length">No data found</td>
      </tr>
      <tr v-for="(row, rowIndex) in sortedRows" :key="rowIndex">
        <td
          v-for="(col, colIndex) in row"
          :key="colIndex"
          :class="[col.class, baseClass]"
        >
          {{ col.value }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
