<div class="tab-navigation">
  <button
    v-for="(button, index) in buttons"
    :key="index"
    :class="[
      ...mergedClasses[index],
      { 'selected': isSelected(index) },
      'button-height',
      'tab-button'
    ]"
    :style="{ backgroundColor: button.color }"
    @click="toggleButton(index)"
  >
    <span v-if="button.icon && button.side === 'left'" class="button-icon">
      {{ button.icon }}
    </span>
    <span class="button-label">{{ button.label }}</span>
    <span v-if="button.icon && button.side === 'right'" class="button-icon">
      {{ button.icon }}
    </span>
  </button>
</div>